<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="styleext.css">
</head>
<body>
	<h2>Learning external CSS</h2>
	<p class="red">This is paragraph. R</p>
	<p class="green">This is paragraph. G</p>
	<p class="blue">This is paragraph. B</p>
</body>
</html>